<%= simple_form_for @job do |f| %>
<div class="group">

  <%= f.input :title %>
</div>

<div class="group">

  <%= f.input :description %>
</div>

<div class="group">
  <%= f.submit "submit" %>
</div>
<% end %>
